html, body {
    margin : 0;
    height : 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-image: url("/assets/images/blue.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}
