html, body {
    margin : 0;
    height : 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-image: url("/assets/images/blue.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90%;
}

form, input {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

#header {
    margin-top: 20%;
}

#formdiv {
    margin-top: 5%;
    margin-bottom: 10%;
}

#inputFile, #ID, #sampleChosen {
    position: absolute;
    left: -99999rem;
}

#alertdiv {
    display: none;
    font-weight: bold;
}

#credits {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.btn {
    width: 15%;
    border: 2px solid #2B8E95;
    color: #2B8E95;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

#ORspan {
    font-size: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#submitBtn {
    width: 5%;
    border: black;
    color: black;
}

#submitBtn:hover {
    background-color: lightgray;
}

#sampleFileLabel {
    border: 2px solid green;
    color: green;
    display: inline-block;
    width: 17%;
}

#sampleFileLabel:hover {
    background-color: #DAF7A6;
}

#inputFileLabel {
    display: inline-block;
    width: 17%;
}

#inputFileLabel:hover {
    background-color: #B2E4E8;
}
